<!DOCTYPE html>
<html lang="en">
<link rel="import" href="/view/base.html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chanakya Academy | About </title>
    <link rel="stylesheet" href="/static/about.css">
</head>

<body>
    <!-- Navigation Section  -->
    <nav id="navbar">
        <ul class="ulnav">
            <li class="linav"><a href="/">Home</a></li>
            <li class="linav"><a href="/about.html">About Us</a></li>
            <li class="linav"><a href="#academics">Academics</a></li>
            <li class="linav"><a href="#activities">Activities</a></li>
            <li class="linav"><a href="#gallery">Gallery</a></li>
            <li class="linav"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <!-- About Section -->
    <div id="about">
        <div class="about-us">
            <h1 class="about-heading">About Us</h1>
        </div>
        <div class="about-img">
            <img src="/static/img/19.1.jpeg" alt="">
        </div>
        <div class="about-p-1">
            <p class="about-contant-1"> &nbsp; Chanakya Academy is located in a panoramic atmosphere in the Kamrej
                village,
                Surat. The Academy is managed by Shree Gopal Lathiya. Academy is located about 3 kms away to the west of
                Surat-Kamrej road. With reasonable & affordable fee structure, the Academy provides a wonderful
                environment for the full expression of personality.</p>
        </div>
        <div class="about-p-2">
            <p class="about-contant">&emsp; &emsp; &emsp;Considerable importance is given for the development of skills,
                character,
                manners
                & etiquette, leadership qualities & public speaking. Academy is spread in 20 acres of land with a built
                up area of 8 lac squares feet having separate residential facility for boys & girls. Foresight of our
                trustee members is to create Modern Vidya Sankul in the most economical cost & providing education to
                every mass and class of society.Most of trustees associated with the trust are settled in Surat. Other
                activity of the trust is to run two medical centre managing a group of 30 doctors. Here the medicines
                are available at 20 % consessional rates, medical treatment is given by specialist & super specialist
                doctors at the lowest expenditure.</p>
        </div>

    </div>

    <!-- Footer Section -->
    <footer id="footer">
        <div class="footer">
            <div class="footer-box footer-img">
                <img src="/static/img/logo1.jpeg" alt="logo">
            </div>
            <div class="footer-box footer-links">
                <h2>Quick Links</h2>
                <ul class="ulfooter">
                    <li class="lifooter"><a href="#home">Home</a></li>
                    <hr>
                    <li class="lifooter"><a href="#about">About Us</a></li>
                    <hr>
                    <li class="lifooter"><a href="#academics">Academics</a></li>
                    <hr>
                    <li class="lifooter"><a href="#activities">Activities</a></li>
                    <hr>
                    <li class="lifooter"><a href="#gallery">Gallery</a></li>
                    <hr>
                    <li class="lifooter"><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-box social-link">
                <h2>Follow Us</h2>
                <div class="footer-social">
                    <a href="https://google.com/" target="_blank"><i class="fa fa-google"></i>Google</a>
                    <a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i>YouTube</a>
                    <a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i>Instagram</a>
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i>Twitter</a>
                    <a href="https://www.facebook.com/" target="_blank"><i
                            class="fa fa-facebook-square"></i>Facebook</a>
                </div>
            </div>
            <div class="footer-box">
                <h2>Contact Info</h2>
                <div class="footer-contact">
                    <i class="fa fa-map-marker"></i>
                    <p>દુકાન નં. 105-106, હંસદેવ પ્લાઝા, સહજાનંદ ગ્રીનસિટીની સામે, કામરેજ ટુ બારડોલી રોડ, કામરેજ,
                        સુરત -
                        394185.</p>
                </div>
                <hr>
                <div class="footer-contact">
                    <i class="fa fa-phone"></i>
                    <p>74051 19601 / 99041 94803</p>
                </div>
                <hr>
                <div class="footer-contact">
                    <i class="fa fa-envelope"></i>
                    <p>chanakya.academy@gmail.com</p>
                </div>
                <hr>
            </div>
        </div>
    </footer>
    <footer id="copyright">
        <p class="copy-right">Copyright&copy;2021. Designed by VikasLathiya. All reserved!</p>
    </footer>
</body>

</html>