<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chanakya Academy | Home </title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">

</head>
<body>
     <!-- Navigation Section -->
     <nav id="navbar">
        <ul class="ulnav">
            <li class="linav"><a href="/">Home</a></li>
            <li class="linav"><a href="/about.html">About Us</a></li>
            <li class="linav"><a href="#academics">Academics</a></li>
            <li class="linav"><a href="#activities">Activities</a></li>
            <li class="linav"><a href="#gallery">Gallery</a></li>
            <li class="linav"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</body>
</html>