<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chanakya Academy | Home </title>
    <script src="https://kit.fontawesome.com/80511e56ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>

<body>

    <!-- Top Line -->
    <div id="topnav">
        <div class="topLeft">
            <p class="topLeft-scroll">
                <marquee scrolldelay="">Admission Open for the year 2021-2022</marquee>
            </p>
        </div>
        <div class="topright-nav">
            <div class="topright">
                <i class="fa fa-sign-in"></i>
                <a href="">LogIn :</a>
                <a href="">Teachers</a>
                <a href="">Parents</a>
            </div>
            <div class="topright-social">
                <a href="https://google.com/" target="_blank"><i class="fa fa-google"></i></a>
                <a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i></a>
                <a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a>
            </div>
        </div>
    </div>
    <!-- Banner section -->
    <div class="banner-top">
        <marquee behavior=slide direction="up" loop="2"> <img src="/static/img/03.jpeg" alt="banner name"></marquee>
    </div>
    <!-- Navigation Section -->
    
    <nav id="navbar">
        <ul class="ulnav">
            <li class="linav"><a href="/">Home</a></li>
            <li class="linav"><a href="/about.html">About Us</a></li>
            <li class="linav"><a href="#academics">Academics</a></li>
            <li class="linav"><a href="#activities">Activities</a></li>
            <li class="linav"><a href="#gallery">Gallery</a></li>
            <li class="linav"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <!-- First Section -->
    <section id="home" class="background">
        <div class="home-section">
            <h1 class="h-primary">જીવવાનું અને જીતવાનું શીખવતું ટ્યૂશન..</h1>
            <p class="h-secondary">ચાણક્ય એકેડમી એ એકસર્વોત્તમ અંગ્રેજી માધ્યમ તથા ગુજરાતી માધ્યમ
                ટ્યૂશન કામરેજમાં આવેલ છે જેમાં GSEB જેવા અભ્યાસક્રમ મુજબનું શિક્ષણ આપવામાં આવે
                છે. સર્વોચ્ચ અને શિક્ષિત સમાજનું નિર્માણ કરવું એ મુખ્ય ધ્યેય તરફ ટ્યૂશન કાર્યરત છે.</p>
            <p class="h-secondary">શ્રેષ્ઠ શિક્ષણનાં વારસ બની સમાજ અને દેશમાટે પ્રત્યેક બાળક પોતાના મનનો સ્વતંત્ર માલિક
                બની શકે તેવા
                સકારાત્મક વિચારથી આપણું બાળક માત્ર ટકાવારીનાં મોહમાં નહી પરંતુ જીંદગીની પરીક્ષામાં “ટકી” શકે તેવી
                કેળવણીનાં સહારે બાળકમાં જે કાંઇ પણ શ્રેષ્ઠ છે તેને બહાર લાવવાં સતત પ્રયત્નશીલ રહી સર્વાંગી વિકાસનું ભવ્ય
                વિઝન...</p>
        </div>
    </section>
    <!-- Second Section -->
    <section id="second">
        <div class="item-box">
            <h2 class="h-item-box"><i class="fa fa-book"></i>OUR SYLLABUS</h2>
            <p class="item-contant">PPSCIS follows the curriculum laid down by Cambridge International Examination (CIE)
                including Primary Checkpoint, Secondary Checkpoint, IGCSE and A Levels. We are proud to offer...</p>
            <button>Find Out More</button>
        </div>
        <div class="item-box item-teach">

            <h2 class="h-item-box"><i class="fa fa-users"></i>OUR TEACHERS</h2>
            <p class="item-contant">We believe in making masters from the real masters and so we have among us the best
                of industry professionals, who...</p>
            <button class="btn">MEET OUR TEACHERS!</button>
        </div>
        <div class="item-box">
            <h2 class="h-item-box"><i class="fa fa-sign-in"></i>ADMISSION PROCESS</h2>
            <p class="item-contant">We are happy to inform that our new classes’ admission process is started and the
                intakes for 2021-22 are on. Join us to...</p>
            <button>GET ENROLLED!</button>
        </div>
    </section>
    <!-- Third Section   -->
    <section id="thirdsec" class="third-bg">
        <div id="third-sec">
            <div class="third-box">
                <img src="/static/img/addform.png" alt="">
                <h3>Admission Form & Details </h3>
            </div>
            <div class="third-box">
                <img src="/static/img/pdf.png" alt="">
                <h3>Download Center </h3>
            </div>
            <div class="third-box third-box-2">
                <img src="/static/img/broadcast.png" alt="">
                <h3>Achivement Corner </h3>
            </div>
            <div class="third-box third-box-2">
                <img src="/static/img/event.png" alt="">
                <h3>Upcoming Events</h3>
            </div>
        </div>
    </section>
    <!-- Fourth Section   -->
    <section class="foursec">
        <div class="four-sec">
            <div class="four-box">
                <img src="/static/img/smile.png" alt="">
            </div>
            <div class="box-contant">
                <h3>Vision</h3>
                <p>To contribute to the well-educated and civilized society formation. </p>
            </div>
        </div>
        <div class="four-sec">
            <div class="four-box">
                <img src="/static/img/leaf.png" alt="">
            </div>
            <div class="box-contant">
                <h3>Mission</h3>
                <p>To contribute to the progress of the citizens, society and finally to the nation through the highest
                    qualitative education and trining.</p>
            </div>
        </div>
        <div class="four-sec">
            <div class="four-box">
                <img src="/static/img/earth.png" alt="">
            </div>
            <div class="box-contant">
                <h3>Our Philosophy</h3>
                <p>Chanakya Academy is committed to providing a caring, happy and safe environment for every child and
                    follows a unique program.</p>
            </div>
        </div>
        <div class="four-sec">
            <div class="four-box">
                <img src="/static/img/heart.png" alt="">
            </div>
            <div class="box-contant">
                <h3>Core Value</h3>
                <p>To well in human mind forever through carving of society oriented citizens.</p>
            </div>
        </div>
    </section>
    <!-- Fifth Section -->
    <section class="fivesec">
        <div class="five-box">
            <div class="five-one">
                <img src="/static/img/smile.png" alt="">
            </div>
            <div class="five-two">
                <p class="five-contant">How to Enroll Your Child to our Academy?</p>
                <p class="five-contant">FOR ANY QUERY CALL ON: 74 05 11 96 01</p>
            </div>
            <div class="five-three">
                <button class="btn">Learn More
                    <i class="fa fa-home"></i></button>
            </div>
        </div>
    </section>
    <!-- Footer Section -->
    <footer id="footer">
        <div class="footer">
            <div class="footer-box footer-img">
                <img src="/static/img/logo1.jpeg" alt="logo">
            </div>
            <div class="footer-box footer-links">
                <h2>Quick Links</h2>
                <ul class="ulfooter">
                    <li class="lifooter"><a href="#home">Home</a></li>
                    <hr>
                    <li class="lifooter"><a href="#about">About Us</a></li>
                    <hr>
                    <li class="lifooter"><a href="#academics">Academics</a></li>
                    <hr>
                    <li class="lifooter"><a href="#activities">Activities</a></li>
                    <hr>
                    <li class="lifooter"><a href="#gallery">Gallery</a></li>
                    <hr>
                    <li class="lifooter"><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-box social-link">
                <h2>Follow Us</h2>
                <div class="footer-social">
                    <a href="https://google.com/" target="_blank"><i class="fa fa-google"></i>Google</a>
                    <a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i>YouTube</a>
                    <a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i>Instagram</a>
                    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i>Twitter</a>
                    <a href="https://www.facebook.com/" target="_blank"><i
                            class="fa fa-facebook-square"></i>Facebook</a>
                </div>
            </div>
            <div class="footer-box">
                <h2>Contact Info</h2>
                <div class="footer-contact">
                    <i class="fa fa-map-marker"></i>
                    <p>દુકાન નં. 105-106, હંસદેવ પ્લાઝા, સહજાનંદ ગ્રીનસિટીની સામે, કામરેજ ટુ બારડોલી રોડ, કામરેજ,
                        સુરત -
                        394185.</p>
                </div>
                <hr>
                <div class="footer-contact">
                    <i class="fa fa-phone"></i>
                    <p>74051 19601 / 99041 94803</p>
                </div>
                <hr>
                <div class="footer-contact">
                    <i class="fa fa-envelope"></i>
                    <p>chanakya.academy@gmail.com</p>
                </div>
                <hr>
            </div>
        </div>
    </footer>
    <footer id="copyright">
        <p class="copy-right">Copyright&copy;2021. Designed by VikasLathiya. All reserved!</p>
    </footer>
</body>

</html>